.hero{
    background: url(./images/about-hero-image.jpg);
    height: 80vh;
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-top: 20px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: flex-start;
}

.hero__content{
    position: relative;
    left: 200px;
}

.hero__description{
    width: 400px;
}

.hero__cta{
    background-color: white;
    color: black;
}

.about__container{
    margin-bottom: 100px;
    display: flex;
}

.about p{
    font-size: 14px;
}

.about__image img{
    width: 500px;
    height: 100%;
    object-fit: contain;
    margin-left: 50px;
}